.collaboration-carets__caret {
  position: relative;
  margin-left: -1px;
  margin-right: -1px;
  border-left: 1px solid;
  border-right: 1px solid;
  word-break: normal;
  pointer-events: none;
}

.collaboration-carets__label {
  position: absolute;
  top: -1.4em;
  left: -1px;
  padding: 2px 6px;
  border-radius: 4px 4px 4px 0;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: white;
  white-space: nowrap;
  user-select: none;
}

.collaboration-carets__selection {
  opacity: 0.7;
}
